name: CI/CD Flask + Terraform

on:
  push:
    branches:
      - main

jobs:
  # ==========================
  # JOB 1: Infraestructura
  # Solo se ejecuta si cambia iac/
  # ==========================
  infra:
    runs-on: ubuntu-latest
    if: contains(github.event.head_commit.message, 'iac') || contains(join(github.event.commits.*.modified, ' '), 'iac/')

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: us-east-1
      SSH_PUBLIC_KEY: ${{ vars.SSH_PUBLIC_KEY }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Get Public IP
        run: |
          echo "MY_IP=$(curl -s https://ifconfig.me)/32" >> $GITHUB_ENV

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init & Apply
        run: |
          cd iac
          terraform init
          terraform apply -auto-approve \
            -var="ssh_public_key=$SSH_PUBLIC_KEY" \
            -var="ssh_ip=$MY_IP"

      - name: Export EC2 IP
        run: |
          cd iac
          echo "SERVER_IP=$(terraform output -raw public_ip)" >> $GITHUB_ENV

  # ==========================
  # JOB 2: Deploy App
  # No depende de iac/
  # ==========================
  deploy:
    runs-on: ubuntu-latest
    needs: infra

    env:
      SERVER_IP: ${{ needs.infra.outputs.SERVER_IP }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Copy project to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ env.SERVER_IP }}
          username: ubuntu
          key: ${{ secrets.SERVER_SSH_KEY }}
          source: |
            app.py
            Dockerfile
            requirements.txt
            templates
            static
          target: "/home/ubuntu/mi_web"

      - name: Deploy container on EC2
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ env.SERVER_IP }}
          username: ubuntu
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd ~/mi_web
            docker stop mi_web || true
            docker rm mi_web || true
            docker build -t mi_web_app .
            docker run -d \
              --name mi_web \
              -p 5000:5000 \
              --restart always \
              mi_web_app
